
<div style="text-align:center;margin:2vh;">
    <h1 style=" color :goldenrod; font-family:Great Vibes;">
        {{hotel.title}}
        {{# if login}}
            {{# if hasLiked}}
                <form action="/hotels/{{hotel._id}}" method="POST">
                    <input type="hidden" name="userApna" value={{userId}}>
                    <button type="submit" class="liked-heart btn blue "><i class="fa fa-heart"></i></button>
                </form> 
            {{else}}
                <form action="/hotels/{{hotel._id}}" method="POST">
                    <input type="hidden" name="userApna" value={{userId}}>
                    <button type="submit" class="heart btn blue pulse"><i class="fa fa-heart"></i></button>
                </form> 
            {{/if}}
        {{/if}}
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img src={{hotel.imagePath}} class="img-responsive img-rounded img-thumbnail z-depth-5">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div style="font-weight: bold;">
            <h2 style="font-family : Pacifico"></h2>
            <h3 style="font-family:cursive;">{{hotel.description}}</h3>
            <h4>Starting Price : {{hotel.price}}</h4>
            <button type="button" class="btn green" data-toggle="modal" data-target="#myModal">Tariff Chart</button>
            <hr>
            <div class="modal fade " id="myModal" role="dialog">
                <div class="modal-dialog  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">ROOM TARIFF</h1>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                    <table class="table-bordered">
                                    <thread>
                                        <tr class="hand">
                                            <th>Room Type</th>
                                            <th>AC</th>
                                            <th>Non-AC</th>
                                        </tr>                                    
                                    </thread>
                                    <tbody class="table_body">
                                        <tr>
                                            <td>Standard Single</td>
                                            {{# if hotel.rooms.stnSGLac.fare}}
                                                <td>{{hotel.rooms.stnSGLac.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                            {{# if hotel.rooms.stnSGLno.fare}}
                                                <td>{{hotel.rooms.stnSGLno.fare}}</td>                                        
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Standard Double</td>
                                            {{# if hotel.rooms.stnDBLac.fare}}
                                                <td>{{hotel.rooms.stnDBLac.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                            {{# if hotel.rooms.stnDBLno.fare}}
                                                <td>{{hotel.rooms.stnDBLno.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Standard Triple</td>
                                            {{# if hotel.rooms.stnTPLac.fare}}
                                            <td>{{hotel.rooms.stnTPLac.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                            {{# if hotel.rooms.stnTPLno.fare}}
                                                <td>{{hotel.rooms.stnTPLno.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Deluxe Single</td>
                                            {{# if hotel.rooms.delSGL.fare}}
                                                <td>{{hotel.rooms.delSGL.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Deluxe Double</td>
                                            {{# if hotel.rooms.delDBL.fare}}
                                                <td>{{hotel.rooms.delDBL.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Deluxe Family</td>
                                            {{# if hotel.rooms.delfam.fare}}
                                                <td>{{hotel.rooms.delfam.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Presidential Suite</td>
                                            {{# if hotel.rooms.preSut.fare}}
                                                <td>{{hotel.rooms.preSut.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>Executive Suite</td>
                                            {{# if hotel.rooms.execSut.fare}}
                                                <td>{{hotel.rooms.execSut.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>
                                        <tr>
                                            <td>HoneyMoon Suite</td>
                                            {{# if hotel.rooms.honSut.fare}}
                                                <td>{{hotel.rooms.honSut.fare}}</td>
                                            {{else}}
                                                <td style="text-align:center">-</td>
                                            {{/if}}
                                        </tr>  
                                    </tbody>
                                </table>
                                <p><small class="text-muted hand" style="background:white;">Check out time: 12 p.m.</small>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn purple" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{# if login}}
                <a href='/hotels/book/{{hotel._id}}' class="btn cyan pulse" role="button" id="book-button">Book My Stay </a>
            {{else}}
                <a href='/user/signin' class="btn btn-danger red pulse" role="button">Login to book your stay!</a>
            {{/if}}
        </div>
    </div>    
</div>
<div>
    <span>{{hotel.reacts}}</span>
    <span><i class="fas fa-thumbs-up" style="font-size:50px"></i></span>
</div>
</div>


<div class="row" id = "bigCallOut">
    <div class="col-12">
        <div class="alert alert-success alert-block " id="successAlert">
            <button id="close">X</button>
            <span><h4>Thank You!</h4>
            <p>We appreciate your sparing time to review us!</p></span>
            <span><img src="/images/namaste.png" width="6%" height="6%"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="well">
            <div class="page-header">
                <h1>REVIEWS :: <small>Your feedback matters a lot to us!</small></h1>
            </div>
        </div>
    </div>
</div>

<div>
{{# if login}}
<form action="/hotels/review/{{hotel._id}}" method="POST">
    <div class="container-fluid"></div>
    <div class="row">
        <div class="input-field col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <label for="review">Tell us about your stay in a tweet!</label>
            <textarea name="review" class="materialize-textarea" length = "140"></textarea>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <button class="btn waves-effect waves-light" id="like" type="submit">POST<i class="fa fa-paper-plane " style="color:red" aria-hidden="true"></i>
            </button>
        </div>  
    </div>  
    </div>   
</form>
{{/if}}


<div class="container" id="comments">
    <ul>
        {{#each hotel.review}}
            <li>{{this.author}}: <small>{{this.comment}}</small></li><hr>
        {{/each}}
    </ul>
</div>