{{# each hotelrow}}   
  <div class="row" id="front_page">
    {{# each this}}
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="pos card-panel hoverable">
          <img src={{this.imagePath}} class="responsive-img circle  hoverable">
          <div class="caption">
            <h3 class="hotel_name">{{this.title}}</h3>
            <p class="description">{{this.description}}</p>
            <hr></hr>
            <div class="clearfix"> 
                <div class="price pull-left">{{this.price}}</div>
                <a href='/hotels/{{this._id}}'  class="btn pink pull-right deal" role="button">View Deal &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}